body{
    background-image: linear-gradient(to top, #EDF2F4, #CCDAE0  );
    position: relative;
}
#img{
   text-align: center;
   border: 2px; 
}

#liens{
    text-align: center;
}

section{
    border-color: black;
    border-style:solid ;
    border-width: 1px;
}
h1{
    color: #EF233C;
    font-style:impact;
    font-size: 70px;
}
#blog {
    color: red;
}
h2{
    text-decoration: underline;
    font-style: inherit;
    text-decoration-style: dashed;
}
ul{
    list-style-type:none ;
}
a:link{
    color: red;
}
a:visited{
    color: gray;
}
a:hover{
    
    color: #2B2D42;
}
footer{
    text-align: right;
}
span{
    color: red;
}
